WHATSAPP_TOKEN=EAAScsHdxCRUBRS6vyxZAfa4dqIOLneM6MjEDm8ZBDt1j7w5ZAoXH99OHf1yulyBKN5lEjMZChFZAIG7ZAjzzlvZA5GcZBQHN1SgHfMNiBDXE5Ou8kx2mFZBzZBRIOR0wbIbcGzHEt8H4NjxOVkr2OceyWLZB009wj9nWfPl5e27OmbAPsKzshXmlviiDVhhjC4m51ctjQZDZD
PHONE_NUMBER_ID=1015377048335352
WHATSAPP_API_VERSION=v20.0
